.places {
  margin: 0 9.25rem 5.75rem;
}

@media screen and (max-width: 1000px) {
  .places {
    margin: 0 1.5rem 5.5rem;
  }
}

@media screen and (max-width: 600px) {
  .places {
    margin: 0 0 4rem;
  }
}
