.places {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 9.25rem;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 3rem 2.5rem;
  grid-template-areas:
    "title website"
    "figure paragraph"
    "button paragraph";
}

.place__item {
  margin: 0;
}

.place__item_align_end {
  align-self: end;
}

.place__item_paragraph {
  grid-area: paragraph;
}

.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  grid-area: title;
  width: 30.25rem;
}

.place__artist {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  grid-area: website;
  margin: 0;
  padding-bottom: 0.5rem;
}

.place__artist-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  grid-area: website;
  margin: 0;
}

.place__artist-name_paragraph {
  margin: 0;
}

.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  margin: 0;
  padding-bottom: 1.5rem;
}

.place__paragraph_button {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 1.25rem;
  padding: 0;
}

.button {
  width: 22.1rem;
  height: 3rem;
  background-color: #0278fe;
  border-radius: 4px;
  border: none;
  grid-area: button;
  padding: 0;
  margin: 0;
}

.place__figure {
  grid-area: figure;
}

.place__image {
  max-width: 100%;
  max-height: 100%;
}
