.button_cover {
  margin: 2.8rem auto 0;
}

@media screen and (max-width: 1000px) {
  .button_cover {
    margin: 2rem auto 0;
  }
}

@media screen and (max-width: 500px) {
  .button_cover {
    margin-top: 1rem;
  }
}
