.cover {
  background-image: url(/images/__background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 74rem;
  height: 46.25rem;
  margin: 5.75rem auto;
  display: grid;
  align-content: center;
}
