.place__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 2.5rem;
  grid-template-areas:
    "title artist"
    "image-button article";
}

@media screen and (max-width: 600px) {
  .place__item {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image-button"
      "article";
    row-gap: 1.8rem;
  }
}
